
.App {
  text-align: center;
  font-family: 'Lexend Mega', sans-serif;
}


.quotations{
  position: absolute;
  width: 555px;
  height: 60px;
  left: 150px;
  top: 300px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  /* or 143% */


  color: #0B132A;
}


.cite{
  position: absolute;
  width: 555px;
  height: 60px;
  left: 300px;
  top: 500px;

  /* font-family: Rubik; */
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  /* or 187% */
  

  color: #4F5665;
}


.developerImg{
  position: absolute;
  width: 611.24px;
  height: 382.44px;
  left: 705px;
  top: 179.11px;
}



h1{
  position: absolute;
  /* width: 555px; */
  /* height: 140px; */
  left: 150px;
  top: 206.77px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 70px;
  /* or 140% */
  color: #0B132A;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
  position: absolute;
  width: 250px;
  height: 85.29px;
  left: 150px;
  top: 550px;
  border-radius: 20px !important;
  font-family: Rubik;
  font-size: 19px !important;
  background: rgba(245, 56, 56, 0.35);
  box-shadow: 0px 0px 15px rgb(0 0 0 / 70%);
}

